################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-Debug
/.vs
/build
*.user.*
*.user
CMakeLists.txt.user
build-WireguardManager-Desktop_Qt_5_15_2_GCC_64bit-Debug
